html,body,textarea,h1,h2,h3,h4,h5,h6,ul,li,img,a,p {
	margin: 0;
	padding: 0;
	border: none;
}
body {
	background-color: #f2f3f7;
	font-family: 'Helvetica', 'Arial', 'Tahoma', sans-serif;
}
.wrapper {
	text-align: center;
	width:300px;
	margin: 100px auto;
}
.title {
	padding:15px 10px;
	width:300px;
	background-color: #dddddd;
	color: #999ba3;
}
.as_item_main {
	padding:20px 10px;
	width: 300px;
	background-color: #fff;
}
.nextpage {
	width: 320px;
	margin-top: 10px;
	text-align: center;
	font-size: 14px;
	color:#a5a5a5;
}
.nextpage a {
	color:#a5a5a5;
	text-decoration: underline;
}
li {
	display: block;
}
input {
	font-size: 13px;
	outline: none;
	height: 30px;
	width: 260px;
	margin-bottom: 20px;
	border: none;
}
button {
	border: none;
	color: #fff;
	width: 260px;
	height: 35px;
	font-size: 13px;
	font-style: normal;
	border-radius: 4px;
	font-weight: normal;
	background-color: rgba(47, 178, 221, 0.62);
}